 
.wp-block-query {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease;
	
    will-change: transform, opacity;
}

.wp-block-query.is-loading {
    transform: scale(0.98);
    opacity: 0.5;
    pointer-events: none;
}

@media only screen and (min-width: 782px) {
	.jetpack-portfolio:nth-of-type(even) .is-style-columns-reverse {
		flex-direction: row-reverse;
	}
}