 
.wp-block-personal-website-portfolio-query {
    transition: transform 1.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 1.4s ease;
    will-change: transform, opacity;
    .is-loading {
        transform: scale(0.98);
        opacity: 0.5;
        pointer-events: none;
    }
}
 
@media only screen and (min-width: 782px) {
	.jetpack-portfolio:nth-of-type(even) .is-style-columns-reverse {
		flex-direction: row-reverse;
	}
}