/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./resources/blocks/portfolio-query/style.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.wp-block-query {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease;
  will-change: transform, opacity;
}

.wp-block-query.is-loading {
  transform: scale(0.98);
  opacity: 0.5;
  pointer-events: none;
}

@media only screen and (min-width: 782px) {
  .jetpack-portfolio:nth-of-type(even) .is-style-columns-reverse {
    flex-direction: row-reverse;
  }
}
