<!-- wp:columns {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns alignwide" style="margin-top:var(--wp--preset--spacing--60)">

	<!-- wp:column {"verticalAlignment":"top"} -->
	<div class="wp-block-column is-vertically-aligned-top">
		<!-- wp:group {"tagName":"main","layout":{"type":"constrained","justifyContent":"right"}} -->
		<main class="wp-block-group">
			<!-- wp:pattern {"slug":"resume/hidden-home"} /-->
		</main>
		<!-- /wp:group -->
	</div>
	<!-- /wp:column -->

	<!-- wp:column {"width":"240px"} -->
	<div class="wp-block-column" style="flex-basis:240px">
		<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:template-part {"slug":"utilities"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:column -->

</div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
