<!-- wp:columns {"align":"wide","verticalAlignment":"top","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns alignwide are-vertically-aligned-top" style="margin-top:var(--wp--preset--spacing--60)">

	<!-- wp:column {"verticalAlignment":"top"} -->
	<div class="wp-block-column is-vertically-aligned-top">
		<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
		<main class="wp-block-group">
			<!-- wp:pattern {"slug":"resume/hidden-home"} /-->
		</main>
		<!-- /wp:group -->
	</div>
	<!-- /wp:column -->

	<!-- wp:column {"verticalAlignment":"top","width":"240px"} -->
	<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:240px">
		<!-- wp:template-part {"slug":"utilities"} /-->
	</div>
	<!-- /wp:column -->

</div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer"} /-->
