name: Deploy to Cloudways

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    uses: WritePoetry/reusable-workflows/.github/workflows/remote-sync.yml@main
    with:
      host: ${{ vars.HOST }}
      username: ${{ vars.USERNAME }}
      folder: ${{ vars.FOLDER }}
    secrets:
      ssh-key: ${{ secrets.SSH_KEY }}